
@font-face {
    font-family:"Roboto Slab Bold";
    src:url("RobotoSlab-Bold.woff2") format("woff2"),url("RobotoSlab-Bold.woff") format("woff"),url("RobotoSlab-Bold.otf") format("opentype");
    font-style:normal;font-weight:400;
}
        